@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.App,
.container {
    width: 100%;
    height: 100%;
}

.App {
    position: relative;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noise {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background-image: url('https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif');
    background-position: 0 0;
    background-size: auto;
    pointer-events: none;
    opacity: 0.03;
    transition: opacity .2s cubic-bezier(.445, .05, .55, .95);
    visibility: visible;
    /*   원본 페이지 : https://www.rawlab.co */
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-img-01 {
    position: absolute;
    top: -45vh;
    right: -5vw;
    width: 880px;
    height: 880px;
}

.background-img-01>svg {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.background-img-02 {
    position: absolute;
    top: 60vh;
    left: -8vw;
    width: 425px;
    height: 425px;
}

#header {
    /* padding: 0 10rem 0 5rem; */
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    /* right: 0; */
    bottom: auto;
    padding: 0 7.5rem;
    width: 100%;
    height: 5rem;
    background-color: transparent;
    -webkit-backdrop-filter: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    z-index: 9999;
}

.header-nav {
    color: rgb(141, 140, 147);
}

.header-nav>nav>ul {
    display: flex;
    flex-direction: row;
}

.header-nav>nav>ul>li {
    height: 6rem;
    line-height: 6rem;
    padding: 0 2.4rem;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s all;
}

.header-nav>nav>ul>li:hover {
    color: #eee;
}

.lightmode {
    height: 6rem;
    line-height: 6rem;
    padding: 0 2.4rem;
    font-size: 2rem;
    border-radius: 3rem;
    background: -moz-linear-gradient(90deg, rgba(255, 218, 234, 1) 23%, rgba(196, 213, 235, 1) 75%);
    background: -webkit-linear-gradient(90deg, rgba(255, 218, 234, 1) 23%, rgba(196, 213, 235, 1) 75%);
    background: linear-gradient(90deg, rgba(255, 218, 234, 1) 23%, rgba(196, 213, 235, 1) 75%);
}

.container {
    width: 100%;
    min-width: 360px;
    height: auto;
}

.container-content {
    padding: 0 7.5rem;
}

section {
    height: 100vh;
}