@import './reset.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

html,
body {
  width: 100%;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}